
<div *ngIf="dataLoaded" style="margin-bottom:200px;padding-bottom:80px;">
  <ngx-charts-line-chart style="padding-bottom:20px;" [view]="view"
                         [scheme]="colorScheme"
                         [results]="series2"
                         [gradient]="gradient"
                         [xAxis]="showXAxis"
                         [yAxis]="showYAxis"
                         [legend]="showLegend"
                         [showXAxisLabel]="showXAxisLabel"
                         [showYAxisLabel]="showYAxisLabel"
                         [xAxisLabel]="xAxisLabel"
                         [yAxisLabel]="yAxisLabel"
                         [autoScale]="autoScale"
                         (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div>

