<h3>Image Upload:</h3>
<span style="color:red;" *ngIf="message">{{message}}</span>
<div class="row">
  <span class="col-3">
    <img [src]="imgURL" height="200" *ngIf="imgURL">
  </span>
  <!--<form class="col-9">-->
  <div class="form-group">
    <input #file type="file" style="display:none" id="customFile" (change)="preview(file.files)">
    <label for="fileName">File</label>
    <input type="text" readonly formControlName="fileName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
  </div>


  <button type="button" class="btn btn-success" (click)="file.click()">Select File</button>
  <button class="btn btn-primary" (click)="upload()" id="fileUpload">Upload</button>
  <!--</form>-->
  </div>
