<h3>Image Upload:</h3>
<form [formGroup]="photoUploadForm" (ngSubmit)="photoUpload()">
  <div class="form-group">
    <button type="button" class="btn btn-success align-top" (click)="file.click()" [disabled]="isRequesting">Select File</button>
    <input #file formControlName="file" type="file" id="customFile" style="display:none" (change)="preview(file.files)">
    <div *ngIf="submitted && f.file.errors" class="field-error">
      <div>File must be selected</div>
    </div>
    <img [src]="imgURL" class="ml-3" height="200" *ngIf="imgURL" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors  }" />
    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
      <div>Description is required</div>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" id="fileUpload">Upload</button>
  </div>
</form>
