<ul class="container small">
  <li>Add Version Increment</li>
  <li>Auto Deploy</li>
  <li><del>Add Storage Service</del> V1.0.1</li>
  <li><del>Show Raw Weather</del> V1.0.1</li>
  <li>Show Basic Weather Stats</li>
  <li>Create auto update Component</li>
  <li>Implement Identity/Login</li>
  <li>Add Create Recipe Page</li>
  <li>Create Recipe Display</li>
  <li>Add API functions from other app</li>
  <li>Add advanced weather status</li>
  <li>Import historic weather data to db</li>
  <li>Add security to api</li>
  <li>Pull todo from db</li>
  <li>Add forecast data to weather</li>
  <li>Add radar maps to weather</li>
  <li>clean up angular code</li>
  <li>Strongly type configuration</li>
  <li>Merge db into main project</li>
  <li>Implement logging</li>
</ul>
