@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
  }
}
html {

  min-height: 100%;
}
